<!DOCTYPE html>
<html>
<head>
    <title>Player Info</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();
            socket.on('update_dashboard', function() {
                window.location.href = window.location.href.split('?')[0];
            });
        });
    </script>
</head>
<body>
    <h1>Player Info</h1>
    <a href="/admin">Back to Admin Dashboard</a><br>
    <h2>Player Details</h2>
    <p><strong>Username:</strong> {{ player[1] }}</p>
    <p><strong>Status:</strong> {{ player[3] }}</p>

    <h2>Casino History</h2>
    <ul>
        {% for casino in player_casinos %}
            <li>
                <strong>Casino Name:</strong> {{ casino[1] }}<br>
                <strong>Status:</strong> {{ casino[2] }}<br>
                <strong>Assigned Price:</strong> €{{ casino[4] }}<br>
                {% if casino[3] %}
                    <strong>Screenshot:</strong> <a href="/uploads/{{ casino[3] }}" target="_blank">View Screenshot</a> | <a href="/uploads/{{ casino[3] }}" download>Download Screenshot</a><br>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>